:root {
	--primary: #4a4a83;
	--secondary: white;
	--background: #e6e6fa;

	/* Using Material UI Breakpoints */
	--xs: 0px;
	--sm: 600px;
	--md: 900px;
	--lg: 1200px;
	--xl: 1536px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	color: #040322;
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	place-items: center;
}

main {
	max-width: 37.5em;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

header nav ul {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--primary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--primary);
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
/* Skip Nav Styles*/

.skipnav {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	background-color: #fff;
	border: 2px solid var(--primary);			
	color: #000;
	letter-spacing: 0.15ch;
	padding: 1rem 2rem;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .skipnav:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	outline: none;
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 10;
  }

  .skipnav:focus:hover {
	background-color: var(--primary);
	color: #fff;
  }

/* Footer Styling */

.return-to-top-button {
	align-items: center;
    background-color: var(--primary);
    border: none;
    bottom: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 100%;
    justify-content: center;
	margin-bottom: 0;
    position: sticky;
    transition: all .3s ease-in-out;
    z-index: 100;
  }

  @media screen and (min-width: 600px) {
	.return-to-top-button {
		height: 6.25rem;
        width: 6.25rem;
        border-top-left-radius: 100%;
        bottom: 0;
        right: 0;
        padding: 1rem 0 0 1rem;
        position: fixed;
	}
  }
  
  .return-to-top-button:hover {
	background-color: #000;
	transform: scale(1.1);
  }
  
  .footer-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  @media screen and (min-width: 600px) {
	.footer-wrapper {
		flex-direction: row;
		align-items: center;
	}
  }

  .footer-wrapper p {
	margin: 0;
  }

  .eleventy-logo img{
	padding: 0 .5rem;
	width: 50px;
  }

  .dan-link {
	padding: 0 .3rem;
  }