<footer>
    <div class="footer-wrapper">
        <p class="built-with">© 2022-{{ "" | currentYear}} Built with ❤ by Luna using</p> <a href="https://www.11ty.dev/" class="eleventy-logo" target="_blank" rel="noopener noreferrer"><img src="/static/img/eleventylogo.png" alt="Eleventy logo"></a> <p class="boilerplate">& a Netlify Boilerplate by</p><a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate" class="dan-link" target="_blank" rel="noopener noreferrer"> Dan Urbanowicz </a>
    </div>
</footer>