<div class="projects-header">
    <h2>Projects</h2>
    <p>Here are some of the sites I've worked on, and side projects I've loved building.</p>
</div>

<div id="project-carousel" class="projects-wrapper" role="region" aria-labelledby="project-carousel">

    <div class="project-card slide" role="tabpanel">
        <div>
            <h3 class="slide-title"> Registered Agents Inc. Redesign </h3>
            <a href="https://www.registeredagentsinc.com/">
                <img src="/static/img/RAInc2025.png" alt="Registered Agents Inc. Homepage.">
            </a>
        <div>
    </div>

    <div class="project-card slide" role="tabpanel">
        <div>
            <h3 class="slide-title">Registered Agents Inc. Domains Product - Curvy Block Divider Built with React </h3>
            <a href="https://www.registeredagentsinc.com/domain-name/">
                <img src="/static/img/RAINCDomains.png" alt="Registered Agents Inc. domains landing page with curvy block divider.">
            </a>
        <div>
    </div>

    <div class="project-card slide" role="tabpanel">
        <div>
        <h3 class="slide-title"> Star Wars Quote Javascript Game</h3>
            <a href="https://death-star-phrase-game.netlify.app/">
                <img src="/static/img/StarWarsGame.png" alt="Star Wars Quote Guessing Game landing page.">
            </a>
         </div>
    </div>

</div>