<div class="tarot-cards-wrapper">
    <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="/static/img/the-fool.jpg" alt="The Fool Tarot Card">
            </div>
            <div class="card-back">
                <a href="#" target="_blank" rel="noopener noreferrer" class="card-image-link"></a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="/static/img/the-moon.jpg" alt="The Moon Tarot Card"></a>
            </div>
            <div class="card-back">
                <a href="#" target="_blank" rel="noopener noreferrer" class="card-image-link"></a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="/static/img/the-world.jpg" alt="The World Tarot Card"></a>
            </div>
            <div class="card-back">
                <a href="#" target="_blank" rel="noopener noreferrer" class="card-image-link"></a>
            </div>
        </div>
    </div>
</div>