<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	

	{% include "components/head.njk" %}

	<body>
		{% include "components/skipnav.njk" %}

		<header>
			<a href="{{ '/' | url }}">
				<img src="/static/img/logo.svg" alt="Skull Icon" class="logo-img"> Luna Bee
			</a>
			{% include "components/nav.njk" %}
		</header>

		<main id="main">
			{{ content | safe }}
		</main>

		
		{% include "components/footer.njk" %}
        
		{% include "components/returntotop.njk" %}

		<!-- Output Font Awesome spritesheet -->
		{% getBundle "fontawesome" %}

		<script src="/static/js/return-to-top.js"></script>
	</body>
	
</html>
